.ham {
  /* width: 100px;
    height: 100px; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ham .sp {
  position: relative;
}

.ham .sp:hover {
  cursor: pointer;
}

.ham .sp span {
  margin-top: 5px;
  height: 10px;
  width: 100px;
  letter-spacing: 3px;
  display: block;
  background-color: brown;
  color: brown;
}

.ham .menu {
  position: absolute;

  top: 80px;
  width: 100px;
  height: 200px;
  background-color: burlywood;
}
